
.nav{
  grid-area: n;
  background-color: darkseagreen;
}

.item {
  color: whitesmoke;
}

.item a.activeLink{
  color: greenyellow;
}

a, a:visited, a:hover {
  color: inherit;
}

a{
  text-decoration: none;
  font-weight: bold;
}